.jumbotron {
    background: black;
    background: no-repeat center url(./Images/skyler-h-vXVNcKdnER4-unsplash.jpg);
    background-size: cover;
    min-height: 600px;
}

#header {
    font-size: 100px;
    text-align: center;
    padding-top: 100px;
}

#subtitle{
    font-size: 50px;
    text-align: center;
}

.aboutme {
    background-image: url(https://picsum.photos/200/200);
    background-size: cover;
    background-position: center;
    padding-top: calc(4.5 / 4 * 100%);
}